.App {
  text-align: center;
}

.hello {
  pointer-events: none;
}
.page{
  margin-top: 25vh;
  color:blueviolet
}

@media (prefers-reduced-motion: no-preference) {
  .hello {
    animation: spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
